body{
    /* margin: 0px;
    padding: 0px; */
}
html{
    /* height: 100%; */
    /* width: 100%;
    padding: 0px;
    margin: 0px; */
}

.sidenav{
    top: 0;
    left: 0;
    transition: 5s;
    width: 20%;
    position: fixed;
    background-color: black;
    padding-left: 0;
    margin-left: 0;
    height: 100%; 
    padding-top: 0;
}

.sidenav img{
    width: 80%;
    height: 30%;
    object-fit: scale-down;
    padding-left: 10%;
    margin-top: 10%;
    padding-bottom: 10%;
}

.sidenav a {
    text-align: left;
    padding: 8px 8px 8px 32px;
    margin-left: 10%;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    /*transition: 0.3s; */
}
 
.sidenav .name{
    /* display: flex; */
    color: white;
    text-align: center;
    font-size: 28px;
    font-family: "Lato", Helvetica, sans-serif;
    padding-left: 10%; 
    font-weight: 300;
    width: 80%;
}


.main-content{
    /* font-family: 'Courier New', Courier, monospace; */
    width: 78%;
    /* height: 100%; */
    /* padding-top: 100px; */
    padding-left: 22%;
}

.main-content .greet{
    font-style: italic;
    
}

.main-content .about{
    font-size: 50px;
}

.main-content .about-content{
    width: 80%;
    align-content: center;
    font-size: 18px;
}

.about-content a{
    text-decoration: none;
    color: black;
    font-weight: 900;
}