
body{
    /* background: white;
    display: block;
    padding: 0px; */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%; 
    
    background:rgba(112,122,138,0.9);
    background: white;
    /* background-color: #e6f0f2; */
    
    /* top: 0; */
}

@viewport {
    width: device-width ;
    zoom: 1.0 ;
} 

.dp{
    position: absolute;
    display: flex;
    /* flex-direction: column; */
    /* max-width: 50%; */
    max-height: 80%;
    top: 15%;
    left: 10%;
    
    /* max-height: 60%; */
    /* height: 95%; */
    /* max-height: 90%; */
    /* width: 100%; */
}

.me{
    /* display: flex; */
    position: absolute;
    /* flex: 1;
    flex-direction: column; */
    /* max-width: 40%; */
    color: #90838d;
    font: bold;
    font-family: 'Times New Roman', Times, serif;    /* text-align: center; */
    font-size: 50px;
    top: 50%;
    left: 50%;
    /* height: 100%; */
    /* max-width: 30%; */
}
.flex-container{
    display: flex;
}

.top-bar-container{
    display: inline-block;
    /* flex-direction:row ;
    flex: 1; */
    /* display: inline-block; */
    list-style: none;
    list-style-type: none;
    /* background: rgb(112,122,138); */
    background: inherit;
    color: white;
    padding: 0px;
    width: 70%;
    align-items: center;
    margin: 0px;

    margin-left: 13%;
    /* margin-top: -5px; */
}
.top-bar-child{
    width: 100%;
    align-content: center;
    float: none;
    padding: 0px;
    margin: 0px;
    
}

.top-bar-container a{
    float: left;
    text-align: center;
    width: 10em;
    padding-right: 0.5%;
    position: relative;
    padding: 5px;
    font-size: 20px;
    margin-top: 10px;
}


.top-bar{
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: inherit;
    color: white;
    float: right;
    /* background-color: #e6f0f2; */
    

}
.top-bar-container a:hover{
    /* background: green; */
    color: orange;
    background-color: aqua;
} 

.top-bar-container a{
    text-decoration: none;
    color: black;
}

a.active{
    color:rgb(0,214,70); 
    text-decoration: none;
}

.top-bar .text{
    position: fixed;
    float: left;
    color: black;
}

.green{
    color: rgb(0,214,70);
}

@media screen and (min-width: 1000px) and (max-width: 1260px){

    .me{
        font-size: 40px;
        left: 55%;
    }
    .dp{
        max-width: 50%;
        /* top: 20%; */
    }
    .top-bar-container a{
        width: 5em;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1260px){

    .me{
        font-size: 40px;
        left: 55%;
    }
    .dp{
        max-width: 50%;
        /* top: 20%; */
    }
    .top-bar-container a{
        width: 5em;
    }
}


@media screen and (min-width: 600px) and (max-width: 1000px){

    .me{
        font-size: 40px;
        left: 55%;
    }
    .dp{
        left: 5%;
        /* max-width: 50%; */
        /* top: 20%; */
    }
    .top-bar-container a{
        width: 5em;
    }
}

@media screen and (min-width: 375px) and (max-width: 600px){

    .me{
        font-size: 40px;
        left: 5%;
    }
    .dp{
        left: 0%;
        /* max-width: 50%; */
        /* top: 20%; */
    }
    .top-bar-container a{
        width: 28%;
    }
    .top-bar-container{
        width: 100%;
        margin-left: 0%;
    }
}

@media screen and (max-width: 375px){


    .me{
        font-size: 40px;
        left: 5%;
    }
    .dp{
        left: 0%;
        width: 100%;
        margin: 0%;
        /* max-width: 50%; */
        /* top: 20%; */
    }
    .top-bar-container a{
        width: 28%;
    }
    .top-bar-container{
        width: 100%;
        margin-left: 0%;
    }
}